@font-face {
  font-family: 'Quicksand';
  src: url('/fonts/Quicksand-Bold.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Quicksand-Book';
  src: url('/fonts/Quicksand_Book.otf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Quicksand-Light';
  src: url('/fonts/Quicksand_Light.otf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Quicksand-Regular';
  src: url('/fonts/Quicksand-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Freestyle';
  src: url('/fonts/Freestyle.TTF') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Berlin';
  src: url('/fonts/Berlin.TTF') format('truetype');
  font-weight: 400;
  font-style: normal;
}